<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petshop.mapper.PetMapper">
    <insert id="insertPet" parameterType="com.petshop.domain.Pet">
        INSERT INTO pet (name, type, quantity, price, userId, accessoryId, deleted, updatedBy, updatedAt)
          VALUES (#{name}, #{type}, #{quantity}, #{price}, #{userId}, #{accessoryId}, #{deleted}, #{updatedBy}, #{updatedAt})
    </insert>
    <update id="updatePet" parameterType="com.petshop.domain.Pet">
        UPDATE pet SET name=#{name}, type=#{type}, quantity=#{quantity},
                        userId=#{userId}, accessoryId=#{accessoryId},
                        deleted=#{deleted}, updatedBy=#{updatedBy}, updatedAt=#{updatedAt}
                   WHERE petId = #{petId}
    </update>
    <select id="findPetById" resultType="com.petshop.domain.Pet">
        SELECT * FROM pet WHERE petId=#{petId}
    </select>
    <select id="findPetByUserId" resultType="com.petshop.domain.Pet">
        SELECT * FROM pet WHERE userId=#{userId}
    </select>
    <update id="deletePet">
      UPDATE pet set deleted=1 WHERE petId=#{petId}
    </update>
</mapper>