<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petshop.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.petshop.domain.User">
      INSERT INTO user (username, password) values (#{username}, #{password})
    </insert>
    <select id="findUserById" resultType="com.petshop.domain.User" parameterType="Integer">
      SELECT * FROM user WHERE userId = #{userId}
    </select>
    <select id="findAllUsers" resultType="com.petshop.domain.User">
        SELECT * FROM user
    </select>
    <update id="deleteByUserId">
        UPDATE user SET deleted = 1 WHERE userId = #{userId}
    </update>
    <update id="updateUser" parameterType="com.petshop.domain.User">
        UPDATE user SET username = #{username} password = #{password} WHERE userId = #{userId}
    </update>
</mapper>